/*HEADER*/

.header{top: 0;
  border-bottom: #000 1px solid;
  background-color:#fff;
 z-index: 100; 
position: sticky;  
width: 100%;
margin: 0;
}

.header .contenedor-header{
display: flex;
flex-direction: row;
justify-content: space-between;    
align-items: center;
height: 12vh;    
width: 80%;
margin: auto;
}

.logo {
  height: 60px;
}

@media (min-width: 768px) {
  .logo {
    height: 65px;
  }
}



nav a{
text-decoration: none;
color: #000;
}

nav button{
border: none;
background: none;
padding: 10px 20px 10px 20px;
font-size: 15px;
font-family: "new-order", Sans-serif;
font-weight: 400;
letter-spacing: 2px; 
color: #000;
text-transform: uppercase;
text-decoration: none;
}  

#nav-list {
position: absolute;  
display: flex;
flex-direction: column;
list-style: none;
gap: 20px;
top: -100vh;
left: 0;
width: 100%;
height: 100vh;
background-color: #eeeeee;
justify-content: center;
align-items: center;
transition: top 1.0s ease-in-out; /* <- acá la animación */

}

#nav-list.active {
  top: 0; /* baja a la pantalla */
}

#menu-toggle{z-index: 100;
padding: 1rem;}

@media (min-width: 768px) {
  #menu-toggle { display: none; }

  #nav-list {
    position: initial;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: none;
  }
}

html { scroll-behavior: smooth; }
