#porfolio{
display: flex;
flex-direction: column;
justify-content: flex-start;
gap:50px;
align-items: center;
max-width: 100%;
margin:0 auto;
border-top: #000 1px solid;
align-items: center;
border-bottom: #000 1px solid;  
height:auto;
padding: 10vh 0;
}
.galeria{
  width: 80%;
}
.feed1{
    list-style:none;
    align-items:center;
    flex-direction:row;
    display: flex;
    flex-wrap: wrap;
}

.feed1 li {
  flex: 1 1 calc(33.333% - 0px);  /* 3 columnas */
  box-sizing: border-box;
}
.galeria img,
.galeria video {
  width: 100%;
  height: auto;
  display: block;
}